@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
    --cor_princial: #FFFFFF;
    --cor_secundaria: #C0C0C0;
    --botao_destaque: #167BF7;
    --cor_de_fundo: #00030C;
    --fonte-principal : 'Inter';
}

body {
    background-color: var(--cor_de_fundo);
    color: var(--cor_princial);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__img {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--botao_destaque);
    border-radius: 5px;
    padding: 1em;
    color: var(--cor_princial);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.segundo {
    background-color: transparent;
    border: 2px solid var(--cor_princial);
}

.container__aviso {
    color: var(--cor_secundaria);
    font-size: 12px;
}

.secundario {
    align-items: center;
}

.secundario__img {
    width: 80%;
    margin: 0 6em;
}

.secundario__descricao {
    margin-right: 4em;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--cor_princial);
    margin-bottom: 0.15em;
}

.descricao__paragrafo {
    font-size: 16px;
    color: var(--cor_secundaria);
}


.terciario__img {
    width: 80%;
    margin: 0 6em;
}